.student{
	border: 2px solid deepskyblue;
	background-color: lightcyan;
	border-radius: 5px;
	padding: 5px;
	width: 60px;
	height: 60px;
}
.pcname{
	position: relative;
	top: -5px;
	vertical-align: middle;
	text-align: center;
}
.prioroty{
	position: relative;
	top: -8px;
	vertical-align: middle;
	text-align: center;
	height: 20px;
}
.timebar{
	vertical-align: middle;
	text-align: right;
	position: relative;
	top: -5px;
	width        : 45px;
	height       : 10px;
	background   : linear-gradient(to bottom, #99ccff, #0059b3);
}
.time{
	position: relative;
	top: -3px;
	left: -3px;
	display: none;
	font-size: 18px;
	text-align: right;
}
#seat-table{
	position: relative;
	left: 20px;
	
}
#dialog {
  position: absolute;
  top: 0px;
  right: 0px;
  width:210px;
  height: 60px;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  border-radius: 5px;
  background-color: white;
}
#dialog-message{
  position: absolute;
  top: 2px;
  right: 10px;
  width: 250px;
  text-align: right;
	
}
#dialog-yes{
  position: absolute;
  top: 25px;
  right: 140px;
  width: 50px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: blue;
  border-radius: 5px;
  background-color: lightcyan;
	
}

#dialog-no{
  position: absolute;
  top: 25px;
  right: 20px;
  width: 50px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: blue;
  border-radius: 5px;
  background-color: lightcyan;
	
}

/* タブ全体の色 */
.nav-tabs .nav-link {
	background-color: #f8f9fa; /* 通常のタブの色 */
	color: #007bff;
}
    
/* アクティブなタブの色 */
.nav-tabs .nav-link.active {
	background-color: #007bff;
	color: white;
}
    
/* ホバー時の色 */
.nav-tabs .nav-link:hover {
	background-color: #0056b3;
	color: white;
}
